include _mixins/button.pug
mjml
  mj-head
    block head
  mj-body
    block header
      mj-text header
    mj-wrapper(
      padding-top="0px",
      padding-left="20px",
      padding-right="20px",
      background-color="#F8F8F8"
    )  
      block banner
        mj-section
          mj-column
            mj-text!= translation['welcome - banner - text']
      block main
        mj-section
          mj-column
            mj-text hello world everyone
            mj-image(width="300px" src="./images/user.png")
            +button({
              href: 'http://www.exemple.com',
              text: 'click',
              textColor: '#FFFFFF',
              buttonColor: '#EE2c74'
            })
            +buttonEx({
              href: 'http://www.exemple.com',
              text: 'click',
              textColor: '#FFFFFF',
              buttonColor: '#EE2c74'
            })
    block footer
      mj-section
        mj-column
          mj-text!= translation['welcome - footer - text']